appnope==0.1.0
atari-py==0.0.18
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.10
gnureadline==6.3.3
-e git+https://github.com/openai/gym@af28bbe418b57379fa67689e398c0d06413abc43#egg=gym
ipython==4.2.0
ipython-genutils==0.1.0
numpy==1.11.0
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
pyglet==1.2.4
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
